/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #3f3f3f;
    color: #ffffff;
    padding-top: 20px;
}

/* GLOBAL */
.section {
    padding: 60px 20px;
}

h2 {
    color: #ffd000;
}

/* HERO */
.hero {
    text-align: center;
    padding: 40px 20px;
}

.hero-logo img {
    width: 550px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.hero-text-highlight {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

.hero-portal {
    margin-top: 50px;
    margin-bottom: 0px;
}


.portal-btn {
    display: inline-block;
    background: #ffd000;
    color: #000;
    padding: 18px 80px;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(255, 208, 0, 0.5);
    letter-spacing: 1px;
    margin-top: 40px;
}

.portal-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255, 208, 0, 0.8);
    background: #e6bd00;
}

.hero-images {
    display: flex;
    gap: 20px;
}

.hero-card {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.hero-card:hover img {
    transform: scale(1.05);
}

.hero-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

.hero-card img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    filter: brightness(1.15) contrast(1.1) saturate(1.1);
    transition: 0.4s;
}

.hero-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #ffd000;
}

.hero-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #ffd000;
    z-index: 2;
    max-width: 70%;
}

.hero-text h2 {
    font-size: 28px;
}

/* BENEFITS */
.benefits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

.benefit-item {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ffd000;
}

.benefit-item:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.06);
}

.benefit-item i {
    width: 20px;
    height: 20px;
}

/* PRODUCTS */
.products {
    text-align: center;
}

.products h2 {
    margin-bottom: 30px;
}

.products-image {
    width: 100%;
    max-width: 1600px;
}

/* TESTIMONIALS */
.testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    padding: 60px 40px 40px 40px;
    margin-top: -40px;
}

.testimonial {
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 150px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 12px;
    transition: 0.3s;
}

.testimonial:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.06);
}

.testimonial-icon {
    color: #ffd000;
    margin-bottom: 10px;
}

.testimonial h3 {
    font-size: 16px;
    color: #ffd000;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #ffd000;
}



.testimonial p {
    font-size: 15px;
    margin-top: 10px;
}

/* CTA */
.cta {
    display: flex;
    min-height: 300px;
}

.cta-left {
    background: linear-gradient(135deg, #ffd000, #ffb800);
    color: #000;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-left h2 {
    color: #3f3f3f;
}

.cta-left button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #000;
    color: #ffd000;
    cursor: pointer;
}

.cta-right {
    flex: 1;
}

.cta-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FOOTER */
.footer {
    padding: 60px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer h4 {
    color: #ffd000;
    margin-bottom: 10px;
}

.footer p {
    font-size: 14px;
    margin-bottom: 5px;
}

.footer p:hover {
    color: #ffd000;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    color: #ffd000;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(63, 63, 63, 0.87);
    backdrop-filter: blur(12px);
    z-index: 1000;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    transition: 0.3s;
}

.navbar:hover {
    background: rgba(63, 63, 63, 1);
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    gap: 25px;
    cursor: pointer;
}

.nav-links a {
    color: #ffd000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    padding: 8px 14px;
    border-radius: 8px;
    transition: 0.3s;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 4px;
    background: #ffd000;
    transition: 0.4s;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    background: rgba(255, 208, 0, 0.1);
    transform: translateY(-2px);
}

.navbar {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

/* botão destaque */
.nav-links a:last-child {
    background: #ffd000;
    color: #000;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(255, 208, 0, 0.5);
}

.nav-links a:last-child:hover {
    background: #e6bd00;
    transform: scale(1.05);
}

.portal-section {
    padding: 100px 20px;
    text-align: center;
}

.portal-page h1 {
    color: #ffd000;
    font-size: 32px;
}

.cta-btn {
    display: inline-block;
    background: #000;
    color: #ffd000;
    padding: 14px 30px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
}

.cta-btn:hover {
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.nav-logo {
    height: 50px;
    object-fit: contain;
    filter: drop-shadow(0 0 6px rgba(255, 208, 0, 0.5));
}

.benefit-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ffd000;
}

.benefit-item svg {
    width: 20px;
    height: 20px;
}

.testimonial-user {
    color: #ffd000;
    margin-bottom: 10px;
}

.stars {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin: 10px 0;
}

.stars svg {
    width: 14px;
    color: #ffd000;
}


.contact-info {
    margin: 20px 0;
}

.contact-info div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.contact-info svg {
    width: 18px;
    color: #000;
}

.portal-content {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.portal-title {
    font-size: 32px;
    color: #ffd000;
    margin-bottom: 15px;
}

.portal-subtitle {
    font-size: 18px;
    margin-bottom: 15px;
}

.portal-description {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 25px;
}

.portal-contact p {
    margin: 5px 0;
}

svg {
    transition: 0.3s;
}

.benefit-item:hover svg,
.contact-info div:hover svg {
    transform: scale(1.2);
}

.benefit-item.highlight {
    background: linear-gradient(135deg, #ffd000, #ffb800);
    color: #000;
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(255, 208, 0, 0.4);
}

.benefit-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.benefit-text strong {
    font-size: 18px;
}

.benefit-text small {
    font-size: 12px;
    opacity: 0.8;
}

.benefit-badge {
    font-size: 10px;
    background: #000;
    color: #ffd000;
    padding: 2px 8px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.benefit-item.highlight svg {
    color: #000;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.hidden {
    display: none;
}

.modal-content {
    background: #2a2a2a;
    padding: 40px;
    border-radius: 12px;

    width: 90%;
    max-width: 900px;
    /* 👈 maior no desktop */
    height: auto;

    max-height: 85vh;
    /* 👈 limita altura */
    overflow-y: auto;
    /* 👈 scroll interno */

    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}

.footer p {
    cursor: pointer;
}

.footer-map {
    max-width: 1200px;
    margin: 30px auto 0 auto;
}

.scroll-top {
    position: fixed;
    bottom: 25px;
    right: 25px;

    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: linear-gradient(270deg, #ffd000, #ffae00, #ffd000);
    background-size: 600% 600%;

    color: #000;

    box-shadow: 0 0 15px rgba(255, 208, 0, 0.6);

    animation: gradientMove 6s ease infinite;

    cursor: pointer;
    transition: 0.3s;
}

.scroll-top:hover {
    transform: scale(1.15);
    box-shadow: 0 0 25px rgba(255, 208, 0, 0.9);
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* RESPONSIVO */
/* ===================== */
/* TABLET */
/* ===================== */
@media (max-width: 1024px) {

    .hero-logo img {
        width: 320px;
    }

    .hero-card img {
        height: 380px;
    }

    .benefits {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonials {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 20px;
    }

    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-links {
        gap: 15px;
        font-size: 14px;
    }

    .nav-links a:nth-child(2) {
        display: none;
    }
}

/* ===================== */
/* MOBILE */
/* ===================== */
@media (max-width: 768px) {

    body {
        padding-top: 80px;
    }

    .nav-links a:last-child {
        width: auto;
        box-shadow: transparent;
    }

    /* NAVBAR */
    .nav-inner {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .nav-logo {
        max-height: 30px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .navbar {
        padding: 20px 10px;
        margin-bottom: 40px;
    }

    /* HERO */
    .hero-logo img {
        width: 220px;
        margin-top: 20px;
    }

    .hero-images {
        flex-direction: column;
    }

    .hero-card img {
        height: 360px;
    }

    .hero-text h2 {
        font-size: 18px;
    }

    .portal-btn {
        padding: 14px 30px;
        font-size: 14px;
    }

    /* BENEFITS */
    .benefits {
        grid-template-columns: 1fr;
    }

    .benefit-item {
        justify-content: flex-start;
        padding: 15px;
    }

    /* PRODUCTS */
    .products-image {
        width: 100%;
    }

    /* TESTIMONIALS */
    .testimonials {
        grid-template-columns: 1fr;
        padding: 30px 15px;
    }

    .testimonial {
        padding: 30px 15px;
    }

    /* CTA */
    .cta {
        flex-direction: column;
    }

    .cta-left {
        padding: 25px;
    }

    .cta-right img {
        height: 250px;
    }

    /* PORTAL */
    .portal-title {
        font-size: 22px;
    }

    .portal-subtitle {
        font-size: 14px;
    }

    /* FOOTER */
    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer p {
        font-size: 13px;
    }
}

/* ===================== */
/* SMALL MOBILE */
/* ===================== */
@media (max-width: 480px) {

    .hero-text {
        max-width: 90%;
    }

    .hero-text h2 {
        font-size: 16px;
    }

    .benefit-text strong {
        font-size: 14px;
    }

    .portal-btn {
        width: 100%;
        text-align: center;
    }

    .modal-content {
        padding: 20px;
    }
}